* {
  box-sizing: border-box;
}

:root {
  --grid-colums: 4;
  --grid-rows: 4;
  --color: #000;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-colums), 1fr);
}

.grid-item {
  border: 1px solid #000;
}

.item-color {
  background: var(--color);
}
